.mainNavbar
{ 
   background-color: #244093 !important;
   padding: 0 !important;
   padding-left: 1vW !important;
   margin-bottom: 0 !important;
   
}
.logoImg
{
    padding-left: 0.5vW;
}

.logoImg , .logoImg2
{
    height: 2vW;
}

.dropdownItems
{
    font-size: 0.9vW;
    font-family: 'Varela Round';
}

::ng-deep .collapseBtn
{
    color: white !important;
}



.parentContainer
{
    height: 100vh;
    padding: 0;
}

.mainContainer
{
    height: 92.6vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.sideBar
{
    background: #244093;
    height: -webkit-fill-available;
    transition: 1s;
    width:100%;
    transition-timing-function: ease-out;
    overflow:auto;
    padding: 0;
}

.navModule
{
    
    margin: 0;
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid lightgray;
    display: flex;
    
}

.moduleName
{
    flex: 1;
    display: flex;
}


.mainBar
{
    height: -webkit-fill-available;
    padding: 0;
   
}

.ulClassMain
{
    text-decoration: none;
    font-size: 10px;
    font-family: 'Varela Round';
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    list-style-type: none;
    margin-top: 1vW;
    margin-top: 1vW;
    padding: 0;
    margin-right: 0;
}

.liClass
{
    padding-left: 1vW;
    margin-bottom: 7px;
    cursor: pointer;
    
}

/*Module heading*/
.moduleHeading
{
    font-family: 'Varela Round';
    font-size:18px;
    font-weight: 600;
}

/*module Count*/
.moduleCount
{
   
    background-color: antiquewhite;
    font-family: 'Varela Round';
    font-size: 12px;
    width: 130px;
    padding: 4px;
    margin-left: 18px;
    text-align: center;
    color: cadetblue;
}


/*Fixing the padding for the main row */
.mainRow
{
    margin-left: 0;
    margin-right: 0;
}

/*Action button for module navbar*/
.actionBtn
{
    height: 30px;
}
.actionBtn button
{
    height: 30px;
    color: #244093;
    border: 1px solid #244093;
    font-family: 'Varela Round';
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    width: 80px;
    line-height: 0;
}
/*Inner menu for the actions button*/
.innerMenu
{
    font-size: 12px;
    font-family: 'Varela Round';
    
    margin: 0;
    line-height: 0;
    height: 24px;
    
}
/*Removing the orange outline which occurs everytime you click on a button*/
button:focus {
    outline: 0;
    outline-style:none;
    outline-width:0;
} 

.toggleBtn
{
    margin-top: 13px;
    margin-bottom: 10px;
}


/*The data part CSS*/
/*the main Container*/
.dataPart
{
    display: flex;
}

.filterPart
{
    flex: 1;
}
.tablePart
{
    flex:4;
}


/*Changing the filter toggle color*/
/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #49c5b6;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #49c5b6;
}



@media only screen and (max-width: 720px) {
    .logoImg , .logoImg2
{
    height: 5vW;
}

.mainContainer
{
    width: 100%;
    padding: 0;
}
  
}

  @media only screen and (max-width: 1200px) {
    .mainContainer
    {
       height: 90.6vh;
      max-width: 100%;
    }

    .dataPart
    {
        flex-direction: column;
    }
    .toggleBtn
    {
    
    margin-bottom: 10px;
    }
    /deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
        transform: rotate(90deg);
    }

    /deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
        transform: rotate(90deg);
    }
  }

  @media only screen and (min-width: 1200px) {
    .mainContainer
    {
       height: 92.6vh;
      max-width: 100%;
    }
  }
  
  mat-card
  {
    font-family: 'Varela Round';
  }

 .nothing
 {
    
     width:0%;
 }
.noDisplay
{
    display: none;
}


::ng-deep .blue-snackbar
{
    font-family: 'Varela Round';
    font-weight: 600 !important;
    font-size: 12px;
    color: white;
}

.rotateIcon
{
    transform: rotate(20deg);
}