<div class="container mainContainer">
    <div class="row mainRow">
        <div class="col-lg-8 col-sm-8 col-md-8 col-xs-8">
          
                <img class="mainImg" src="../../assets/loktra-main.gif">
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4 formPart">

            <!-- Material form login -->


       <div>
        <p class="card-header loginHeadParent text-center">
          <img class="loginHead" src="../../assets/loktra-logo.png">
        </p>
       </div>
      
        <!--Card content-->
       
      
          <!-- Form -->
          <form class="text-center">
      
            <!-- Email -->
            <div class="md-form">
              <input type="email" id="materialLoginFormEmail" class="form-control" mdbInput>
              <label class="emailLabel" for="materialLoginFormEmail">E-mail</label>
            </div>
      
            <!-- Password -->
            <div class="md-form">
              <input type="password" id="materialLoginFormPassword" class="form-control" mdbInput>
              <label class="passwordLabel" for="materialLoginFormPassword">Password</label>
            </div>
      
            <div class="d-flex">
              
              <div>
                <!-- Forgot password -->
                <a class="frgtPass" href="">Forgot password?</a>
              </div>
            </div>
      
            <!-- Sign in button -->
            <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0 signInBtn" mdbWavesEffect
              type="submit">Sign in</button>        
          </form>
          <!-- Form -->
      
        
      
     
      <!-- Material form login -->

            </div>

    </div>

</div>