.example-container {
    height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }

  .tableEntry
  {
    font-size: 12px;
    font-family: 'Varela Round';
    color: rgba(0,15,58,.9);
  }

  .tableHead
  {
    font-family: 'Varela Round';
    font-size: 13px;
    font-weight: 600;
  }