
        <div class="example-container mat-elevation-z8">
                <table mat-table [dataSource]="dataSource"  matSort (matSortChange)="sortData($event)">
              <div *ngFor = "let keyItem of displayedColumnsObj">

                  <ng-container matColumnDef="{{keyItem.id}}">
                      <th class="tableHead" mat-header-cell *matHeaderCellDef mat-sort-header="{{keyItem.id}}"> {{keyItem.label}}  </th>
                      <td mat-cell class="tableEntry" *matCellDef="let element"> {{element[keyItem.id]}} </td>
                    </ng-container>

              </div>
                 
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
            


    
